@font-face {
    font-family: "Noto-Serif";
    src: url("./NotoSerif-Regular.ttf");
}

* {
    font-family: "Noto-Serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerofpage {
    min-height: 100vh;
}

.blog_list {
    height: fit-content;
    width: fit-content;
}

.create_blog_header {
    text-align: center;
}

.blog_links {
    display: block;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

header {
    max-width: 960px;
    margin: auto;
    padding: 1.2rem;
}

main {
    padding: 3rem;
    max-width: 960px;
    margin: auto;
}

main>h1 {
    margin-bottom: 1rem;
}

main>nav>ul {
    display: grid;
    gap: 2.2rem;
}

main>nav>ul>li {
    border-left: 6px solid crimson;
    list-style: none;
    padding-left: 1rem;
    height: fit-content;
    width: fit-content;
}

main>nav>ul>li:hover {
    filter: brightness(90%);
}

main>nav>ul>li>h3 {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

main>nav>ul>li>h3:hover {
    font-size: 1.6rem;
    cursor: pointer;
    transform: scale(1.01, 1.01);
    color: crimson;
}

main>nav>ul>li>p {
    font-size: 1.2rem;
}

.newBlog {
    padding: 20px 40px;
    display: grid;
    gap: 1rem;
    max-width: 25rem;
    margin: auto;
    margin-top: 2rem;
}

.newBlog>button {
    padding: 0.2rem;
    cursor: pointer;
}

.newBlog>input {
    padding: 0.4rem;
}

.newBlog>input:focus,
.newBlog>textarea:focus {
    outline: 2px solid crimson;
    border: 0;
}

.logins {
    height: 100vh;
    width: 100%;
    display: grid;
    background-color: #FFF6BD;
    align-items: center;
}

.login-box>h1 {
    align-self: center;
    letter-spacing: 0.1rem;
}

.login-box {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: -4px -4px 5px rgb(160, 159, 159), 4px 4px 5px rgb(66, 66, 66);
}

.login-box input {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(97, 96, 96);
    margin: 0.4rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.login-box input:focus {
    border-bottom: 2px solid crimson;
}

.login-box button {
    margin-top: 10px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 3px 25px;
    letter-spacing: 0.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem 0.4rem 0.7rem 0.4rem;
    font-size: 1rem;
    font-weight: bold;
}

.login-box>button:hover {
    filter: brightness(90%);
    background-color: #ffffff;
}

.login-icon {
    align-self: center;
    margin-bottom: 0.4rem;
    height: 65px;
    width: 65px;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #575353;
}

.navWrapper ul {
    text-transform: capitalize;
}

.navWrapper>* {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 200;
}

.headerofpage {
    position: relative;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.headerTop h1 {
    font-size: 2em;
    cursor: pointer;
    color: crimson;
}

/* logout button and popup style */
.openPopUp {
    background: transparent;
    border: 2px solid rgb(2, 2, 2);
    padding: 3px 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.openPopUp:hover {
    box-shadow: inset 0 0 0 150px rgb(233, 72, 72);
    border: 2px solid rgb(145, 145, 145);
    color: rgb(255, 255, 255);
}

.popupsection {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.ShowPopUp {
    transform: scale(1);
}

.insidepopup {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(82, 82, 82);
    border-radius: 0.2rem;
    text-align: center;
    border-radius: 0.4rem;
}

.insidepopup>p {
    margin: 2rem 0;
}

.button-design {
    display: flex;
    border: none;
}

.button-design button {
    border: none;
    padding: 0.4rem;
    width: 100%;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-design button:hover {
    background: white;
    filter: brightness(90%);
}

/* end of popup section */

.navWrapper>nav>ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navWrapper>nav>ul>li {
    cursor: pointer;
}

.navWrapper>nav>ul>li:hover {
    transform: scale(1.01, 1.01);
    font-weight: 500;
    color: crimson;
}

.blog_details h1, .blog_details h6 {
    text-align: center;
    line-height: 1.5rem;
}

/* responsive style below */
@media screen and (max-width: 375px) {
    .navWrapper {
        display: block;
    }

    .navWrapper ul {
        display: flex;
        flex-direction: column;
    }

    .navWrapper>nav>ul {
        gap: 10px;
    }

    .headerTop h1 {
        font-size: 1.8em;
    }

    .headerTop button {
        padding: 0 15px;
        font-size: 1.2em;
    }

    main {
        font-size: 0.8em;
    }

    main>nav>ul>li>h3 {
        font-size: 1.8em;
    }

    main>h1>span {
        border-bottom: 5px double black;
    }

    main>h1 {
        padding-bottom: 0.8rem;
    }

    main {
        padding: 3.5rem 0 0 1.2rem;
    }
}