@font-face {
    font-family: "Noto-Serif";
    src: url("./NotoSerif-Regular.ttf");
}

* {
    font-family: "Noto-Serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 960px;
    margin: auto;
    padding: 1.2rem;
}

main {
    padding: 3rem;
}

main>h1 {
    margin-bottom: 1rem;
}

main>nav>ul {
    display: grid;
    gap: 1.4rem;
}

main>nav>ul>li {
    border-left: 6px solid crimson;
    list-style: none;
    padding-left: 1rem;
    height: fit-content;
    width: fit-content;
}

main>nav>ul>li:hover {
    filter: brightness(90%);
}

main>nav>ul>li>h3 {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

main>nav>ul>li>h3:hover {
    font-size: 1.6rem;
    cursor: pointer;
    transform: scale(1.01, 1.01);
    color: crimson;
}

main>nav>ul>li>p {
    font-size: 1.2rem;
}

form {
    padding: 20px 40px;
    display: grid;
    gap: 1rem;
    max-width: 25rem;
    margin: auto;
    margin-top: 2rem;
}

form>input {
    padding: 0.4rem;
}

form>input:focus, form>textarea:focus {
    outline: 2px solid crimson;
    border: 0;
}
/* form>input {
    border: 0;
    outline: 0;
    font-size: 1.3rem;
    background-color: transparent;
    border-bottom: 2px solid gray;
} */

.navWrapper {
    display: flex;
    justify-content: space-between;
    color: #575353;
}

.navWrapper>* {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 200;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.van-button {
    border-radius: 0.8rem;
    padding: 0.5rem;
    background-color: rgba(150, 150, 150, 0.178);
}

.van-button:hover {
    background-color: rgba(126, 126, 126, 0.178);
    transform: scale(1.05, 1.05);
    cursor: pointer;
    border: 2px solid crimson;
}

.navWrapper>nav>ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navWrapper>nav>ul>li {
    cursor: pointer;
}

.navWrapper>nav>ul>li:hover {
    transform: scale(1.01, 1.01);
    font-weight: 500;
    color: crimson;
}

/* nav {
    display: flex;
    margin: auto;
    max-width: 960px;
    background-color: red;
} */